<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
  </head>
  <body>
    {% if record %}
    {% for rec in record %}
    <ul>
      <li>User info:</li>
      <ul>
        <li>First name: {{ rec.first_name }}</li>
        <li>Last name: {{ rec.last_name }}</li>
        <li>E-mail: {{ rec.e_mail }}</li>
      </ul>
    </ul>
    {% endfor %}
    {% else %}
    <p>Sorry, no users found.</p>
    {% endif %}
  </body>
</html>
